1. 서울시 각 구별 cctv 수를 파악하고 인구대비 cctv 비율을 구해서 순위 비교
2. 인구대비 cctv 평균치를 확인하고 cctv가 과하게 부족한 구를 확인
3. 고령자 대비 cctv 수 확인
4. 외국인 대비 cctv 수 확인

-필요한 데이터
-서울시 지자체별 cctv 현황 data
-서울시 지자체별 인구 현황 data

교재 23쪽

In [1]:
#데이터 분석을 위해서는 반드시 패키지를 import 해야 함
#pandas(데이터 분석). numpy(수치 분석) 패키지
#패키지는 관련 함수 모임
#import 패키지명 --패키지 명이 길 경우에는 별명을 생성해서 사용 할 수 있다.
#import 패키지명 as 별명


import pandas as pd
import numpy as np

In [2]:
#데이터 파일 읽어오기
#01. CCTV_in_seoul.csv (파일명은 다르면 안된다. 띄어쓰기 주의)
#한글 포함여부에 따라 옵션이 달라진다.
#한글 포함 시 encoding 방식을 지정해 줘야 함.
#utf-8 방식이 있고 : utf-8
#euc-kr 방식이 있음 :ansi 방식

#외부 파일 읽어올 때 경로가 중요(상대 경로 사용이 원칙)
#사용 DATA는 내문서\pythonBigData\data
#코드 파일은 내문서\pythonBigData\파이썬_1021\코드
#'../data/01. CCTV_in_Seoul.csv'

CCTV_seoul = pd.read_csv('../data/01. CCTV_in_Seoul.csv', encoding="utf-8")
#데이터 확인하기 위해서 위 5줄 출력

CCTV_seoul.head() #데이터프레임 형태로 출력

   기관명    소계  2013년도 이전  2014년  2015년  2016년
0  강남구  2780       1292    430    584    932
1  강동구   773        379     99    155    377
2  강북구   748        369    120    138    204
3  강서구   884        388    258    184     81
4  관악구  1496        846    260    390    613

In [3]:
#head() 힘수 : 데이터프레임의 데이터를 위에서부터 지정된 숫자 만큼 출력
CCTV_seoul.head()
CCTV_seoul.head(10)

   기관명    소계  2013년도 이전  2014년  2015년  2016년
0  강남구  2780       1292    430    584    932
1  강동구   773        379     99    155    377
2  강북구   748        369    120    138    204
3  강서구   884        388    258    184     81
4  관악구  1496        846    260    390    613
5  광진구   707        573     78     53    174
6  구로구  1561       1142    173    246    323
7  금천구  1015        674     51    269    354
8  노원구  1265        542     57    451    516
9  도봉구   485        238    159     42    386

In [4]:
CCTV_seoul.tail() #마지막 5줄 출력(반환)
CCTV_seoul.tail(10) #마지막 10줄 출력

     기관명    소계  2013년도 이전  2014년  2015년  2016년
15   성동구  1062        730     91    241    265
16   성북구  1464       1009     78    360    204
17   송파구   618        529     21     68    463
18   양천구  2034       1843    142     30    467
19  영등포구   904        495    214    195    373
20   용산구  1624       1368    218    112    398
21   은평구  1873       1138    224    278    468
22   종로구  1002        464    314    211    630
23    중구   671        413    190     72    348
24   중랑구   660        509    121    177    109

In [5]:
#read_csv() 함수는 csv 파일을 읽어와서 데이터 프레임 형태로 저장
#데이터 프레임은 세로 데이터의 제목인 컬럼명이 있고
# 가로 데이터

#데이터 프레임의 컬럼명으로 컬럼을 접근하기 때문에 의미있는 컬럼명으로 사용
#컬럼명만 출력
CCTV_seoul.columns

Index(['기관명', '소계', '2013년도 이전', '2014년', '2015년', '2016년'], dtype='object')

In [6]:
#컬럼명을 의미있게 변경
#rename 함수 사용 : df.rename(columns={바꿀위치 : 새로운이름값})
#기관명 -> 구별

CCTV_seoul.rename(columns={CCTV_seoul.columns[0]:'구별'})

      구별    소계  2013년도 이전  2014년  2015년  2016년
0    강남구  2780       1292    430    584    932
1    강동구   773        379     99    155    377
2    강북구   748        369    120    138    204
3    강서구   884        388    258    184     81
4    관악구  1496        846    260    390    613
5    광진구   707        573     78     53    174
6    구로구  1561       1142    173    246    323
7    금천구  1015        674     51    269    354
8    노원구  1265        542     57    451    516
9    도봉구   485        238    159     42    386
10  동대문구  1294       1070     23    198    579
11   동작구  1091        544    341    103    314
12   마포구   574        314    118    169    379
13  서대문구   962        844     50     68    292
14   서초구  1930       1406    157    336    398
15   성동구  1062        730     91    241    265
16   성북구  1464       1009     78    360    204
17   송파구   618        529     21     68    463
18   양천구  2034       1843    142     30    467
19  영등포구   904        495    214    195    373
20   용산구  1624       1368    218    112    398
21   은평구  1873       1138    224    278    468
22   종로구  1002        464    314    211    630
23    중구   671        413    190     72    348
24   중랑구   660        509    121    177    109

In [7]:
CCTV_seoul.head()

   기관명    소계  2013년도 이전  2014년  2015년  2016년
0  강남구  2780       1292    430    584    932
1  강동구   773        379     99    155    377
2  강북구   748        369    120    138    204
3  강서구   884        388    258    184     81
4  관악구  1496        846    260    390    613

In [8]:
#rename 함수는 원본을 변경하지 않는다. 옵션 inplace = false로 되어있기 때문에

CCTV_seoul.rename(columns={CCTV_seoul.columns[0]:'구별'}, inplace = True)
CCTV_seoul.head()

    구별    소계  2013년도 이전  2014년  2015년  2016년
0  강남구  2780       1292    430    584    932
1  강동구   773        379     99    155    377
2  강북구   748        369    120    138    204
3  강서구   884        388    258    184     81
4  관악구  1496        846    260    390    613

서울시 인구 현황 가져오기 - 엑셀 파일 읽기

In [9]:
pop_Seoul = pd.read_excel('../data/01.population_in_Seoul.xls', encoding="utf-8")

In [10]:
pop_Seoul.head()

,기간,자치구,세대,인구,인구.1,인구.2,인구.3,인구.4,인구.5,인구.6,인구.7,인구.8,세대당인구,65세이상고령자
0,기간,자치구,세대,합계,합계,합계,한국인,한국인,한국인,등록외국인,등록외국인,등록외국인,세대당인구,65세이상고령자
1,기간,자치구,세대,계,남자,여자,계,남자,여자,계,남자,여자,세대당인구,65세이상고령자
2,2017.1/4,합계,4202888,10197604,5000005,5197599,9926968,4871560,5055408,270636,128445,142191,2.36,1321458
3,2017.1/4,종로구,72654,162820,79675,83145,153589,75611,77978,9231,4064,5167,2.11,25425
4,2017.1/4,중구,59481,133240,65790,67450,124312,61656,62656,8928,4134,4794,2.09,20764

In [11]:
pop_Seoul = pd.read_excel('../data/01.population_in_Seoul.xls',
                                                              header=2, #두행 skip
                                                              usecols = 'B,D,G,J,N', #선택 열만 가져오기
                                                              encoding="utf-8"
                         )

In [12]:
pop_Seoul.head()

   자치구           계        계.1       계.2   65세이상고령자
0   합계  10197604.0  9926968.0  270636.0  1321458.0
1  종로구    162820.0   153589.0    9231.0    25425.0
2   중구    133240.0   124312.0    8928.0    20764.0
3  용산구    244203.0   229456.0   14747.0    36231.0
4  성동구    311244.0   303380.0    7864.0    39997.0

컬럼명 변경 => 0:구별 1:인구수 2:한국인 3:외국인 4:고령자

In [33]:
pop_Seoul.rename(columns = {pop_Seoul.columns[0]:'구별',
                            pop_Seoul.columns[1]:'인구수',
                            pop_Seoul.columns[2]:'한국인',
                            pop_Seoul.columns[3]:'외국인',
                            pop_Seoul.columns[4]:'고령자'}, inplace = True)
pop_Seoul.head()

    구별       인구수       한국인      외국인      고령자
1  종로구  162820.0  153589.0   9231.0  25425.0
2   중구  133240.0  124312.0   8928.0  20764.0
3  용산구  244203.0  229456.0  14747.0  36231.0
4  성동구  311244.0  303380.0   7864.0  39997.0
5  광진구  372164.0  357211.0  14953.0  42214.0

# CCTV 데이터 파악하기

설치대 대수가 작은 5개 구는 어디인가? -소계기 총 설치대수 이므로 소계를 기준으로 sort 한다.
정렬 함수 sort_values(by='기준열이름', ascending=True):오름차순 정렬

In [14]:
# CCTV 대수가 많은 5개 구는 어디인가?
# 소게를 기준으로 내림차순 정렬
CCTV_seoul.sort_values(by='소계', ascending = False).head()

     구별    소계  2013년도 이전  2014년  2015년  2016년
0   강남구  2780       1292    430    584    932
18  양천구  2034       1843    142     30    467
14  서초구  1930       1406    157    336    398
21  은평구  1873       1138    224    278    468
20  용산구  1624       1368    218    112    398

In [15]:
#CCTV 최근 증가율 계산해서 '최근 증가율' 컬럼을 추가
#데이터프레임에 컬럼을 추가할 때는 df명['새로 추가될 컬럼명'] = 값들
CCTV_seoul['최근증가율'] = (CCTV_seoul['2014년'] + CCTV_seoul['2015년'] + CCTV_seoul['2016년']) / CCTV_seoul['2013년도 이전'] * 100

In [16]:
CCTV_seoul.head()

    구별    소계  2013년도 이전  2014년  2015년  2016년       최근증가율
0  강남구  2780       1292    430    584    932  150.619195
1  강동구   773        379     99    155    377  166.490765
2  강북구   748        369    120    138    204  125.203252
3  강서구   884        388    258    184     81  134.793814
4  관악구  1496        846    260    390    613  149.290780

In [17]:
#3개년간 CCTV 설치 증가율이 높은 5개 구를 출력
CCTV_seoul.sort_values(by="최근증가율", ascending = False).head(5)

     구별    소계  2013년도 이전  2014년  2015년  2016년       최근증가율
22  종로구  1002        464    314    211    630  248.922414
9   도봉구   485        238    159     42    386  246.638655
12  마포구   574        314    118    169    379  212.101911
8   노원구  1265        542     57    451    516  188.929889
1   강동구   773        379     99    155    377  166.490765

In [18]:
# 서울시 인구 데이터 파악하기: 사용변수 pop_Seoul
pop_Seoul.head()

   자치구           계        계.1       계.2   65세이상고령자
0   합계  10197604.0  9926968.0  270636.0  1321458.0
1  종로구    162820.0   153589.0    9231.0    25425.0
2   중구    133240.0   124312.0    8928.0    20764.0
3  용산구    244203.0   229456.0   14747.0    36231.0
4  성동구    311244.0   303380.0    7864.0    39997.0

In [19]:
# 첫 행 합계는 계산 행 이므로 삭제
# 삭제 함수 : del 명령어, drop() 함수
# 행 삭제 : drop() 함수
# 열 삭제 : del 명령어
# pop_Seoul.drop(0).head() #합계행(0행) 삭제
# pop_Seoul.head()#원본 반영 안 됨

   자치구           계        계.1       계.2   65세이상고령자
0   합계  10197604.0  9926968.0  270636.0  1321458.0
1  종로구    162820.0   153589.0    9231.0    25425.0
2   중구    133240.0   124312.0    8928.0    20764.0
3  용산구    244203.0   229456.0   14747.0    36231.0
4  성동구    311244.0   303380.0    7864.0    39997.0

In [21]:
# pop_Seoul.drop(0, inplace=True) #합계행(0행) 삭제
pop_Seoul.head()

   자치구         계       계.1      계.2  65세이상고령자
1  종로구  162820.0  153589.0   9231.0   25425.0
2   중구  133240.0  124312.0   8928.0   20764.0
3  용산구  244203.0  229456.0  14747.0   36231.0
4  성동구  311244.0  303380.0   7864.0   39997.0
5  광진구  372164.0  357211.0  14953.0   42214.0

In [22]:
# -각 구가 모두 데이터로 있는지 확인 작업
# 1. 구가 중복되어 있는지 (두번 이상 나타나면 안 됨)
# 전체 행 개수를 확인
# 중복 데이터를 제거한 후에 행 개수를 확인

In [23]:
#전체 행 개수 확인 : dataframe의 행 개수 확인 함수(len())
#서울시 구는 25개 구
len(pop_Seoul)

26

In [29]:
# 중복된 데이터는 제거하고 출력하는 함수(unique())
pop_Seoul['구별'].unique()

26

In [34]:
# 구별 데이터에 nan 데이터가 들어있음 : nan = null -> 삭제 필요
# nan에 해당하는 행 전체를 삭제 : 구별값이 nan인 행의 인덱스 확인
# nan을 확인하는 함수 df명[필드명].isnull()
# 해당행을 출력해서 확인

pop_Seoul['구별'].isnull()

1     False
2     False
3     False
4     False
5     False
6     False
7     False
8     False
9     False
10    False
11    False
12    False
13    False
14    False
15    False
16    False
17    False
18    False
19    False
20    False
21    False
22    False
23    False
24    False
25    False
26     True
Name: 구별, dtype: bool

In [35]:
pop_Seoul[pop_Seoul['구별'].isnull()]

     구별  인구수  한국인  외국인  고령자
26  NaN  NaN  NaN  NaN  NaN

In [37]:
#데이터 프레임명[필드명 또는 조건식] : 데이터 행에 접근

In [44]:
#pop_Seoul의 26행에 nan 값이 저장되어 있으므로 제거 후 제거되었는지 확인
# pop_Seoul.drop([26], inplace=True)
pop_Seoul.tail()

     구별       인구수       한국인      외국인      고령자
21  관악구  525515.0  507203.0  18312.0  68082.0
22  서초구  450310.0  445994.0   4316.0  51733.0
23  강남구  570500.0  565550.0   4950.0  63167.0
24  송파구  667483.0  660584.0   6899.0  72506.0
25  강동구  453233.0  449019.0   4214.0  54622.0

In [46]:
# 인구수 대비 외국인과 고령자 비율 계산
pop_Seoul['외국인비율'] = pop_Seoul['외국인'] / pop_Seoul['인구수'] * 100
pop_Seoul['고령자비율'] = pop_Seoul['고령자'] / pop_Seoul['인구수'] * 100

In [47]:
pop_Seoul.head()

    구별       인구수       한국인      외국인      고령자     외국인비율      고령자비율
1  종로구  162820.0  153589.0   9231.0  25425.0  5.669451  15.615404
2   중구  133240.0  124312.0   8928.0  20764.0  6.700690  15.583909
3  용산구  244203.0  229456.0  14747.0  36231.0  6.038828  14.836427
4  성동구  311244.0  303380.0   7864.0  39997.0  2.526635  12.850689
5  광진구  372164.0  357211.0  14953.0  42214.0  4.017852  11.342849

1. 어느구의 인구가 가장 많은가? 인구가 많은 5개 구 출력
2. 외국인이 많은 5개 구 출력
3. 인구수 대비 외국인 많은 5개 구를 출력
4. 고령자가 많은 5개 구를 출력
5. 인구수 대비 고령자가 많은 5개 구를 출력

In [53]:
# 1. 어느구의 인구가 가장 많은가? 인구가 많은 5개 구 출력
pop_Seoul.sort_values(by="인구수", ascending=False).head()

     구별       인구수       한국인      외국인      고령자     외국인비율      고령자비율
24  송파구  667483.0  660584.0   6899.0  72506.0  1.033584  10.862599
16  강서구  603772.0  597248.0   6524.0  72548.0  1.080540  12.015794
23  강남구  570500.0  565550.0   4950.0  63167.0  0.867660  11.072217
11  노원구  569384.0  565565.0   3819.0  71941.0  0.670725  12.634883
21  관악구  525515.0  507203.0  18312.0  68082.0  3.484582  12.955291

In [55]:
# 2. 외국인이 많은 5개 구를 출력
pop_Seoul.sort_values(by="외국인", ascending=False).head()

      구별       인구수       한국인      외국인      고령자     외국인비율      고령자비율
19  영등포구  402985.0  368072.0  34913.0  52413.0  8.663598  13.006191
17   구로구  447874.0  416487.0  31387.0  56833.0  7.007998  12.689506
18   금천구  255082.0  236353.0  18729.0  32970.0  7.342345  12.925255
21   관악구  525515.0  507203.0  18312.0  68082.0  3.484582  12.955291
6   동대문구  369496.0  354079.0  15417.0  54173.0  4.172440  14.661322

In [57]:
# 3. 인구수 대비 외국인 많은 5개 구를 출력
pop_Seoul.sort_values(by="외국인비율", ascending=False).head()

      구별       인구수       한국인      외국인      고령자     외국인비율      고령자비율
19  영등포구  402985.0  368072.0  34913.0  52413.0  8.663598  13.006191
18   금천구  255082.0  236353.0  18729.0  32970.0  7.342345  12.925255
17   구로구  447874.0  416487.0  31387.0  56833.0  7.007998  12.689506
2     중구  133240.0  124312.0   8928.0  20764.0  6.700690  15.583909
3    용산구  244203.0  229456.0  14747.0  36231.0  6.038828  14.836427

In [58]:
# 4. 고령자가 많은 5개 구를 출력
pop_Seoul.sort_values(by="고령자", ascending=False).head()

     구별       인구수       한국인      외국인      고령자     외국인비율      고령자비율
16  강서구  603772.0  597248.0   6524.0  72548.0  1.080540  12.015794
24  송파구  667483.0  660584.0   6899.0  72506.0  1.033584  10.862599
12  은평구  494388.0  489943.0   4445.0  72334.0  0.899091  14.631019
11  노원구  569384.0  565565.0   3819.0  71941.0  0.670725  12.634883
21  관악구  525515.0  507203.0  18312.0  68082.0  3.484582  12.955291

In [59]:
# 5. 인구수 대비 고령자가 많은 5개 구를 출력
pop_Seoul.sort_values(by="고령자비율", ascending=False).head()

      구별       인구수       한국인      외국인      고령자     외국인비율      고령자비율
9    강북구  330192.0  326686.0   3506.0  54813.0  1.061806  16.600342
1    종로구  162820.0  153589.0   9231.0  25425.0  5.669451  15.615404
2     중구  133240.0  124312.0   8928.0  20764.0  6.700690  15.583909
3    용산구  244203.0  229456.0  14747.0  36231.0  6.038828  14.836427
13  서대문구  327163.0  314982.0  12181.0  48161.0  3.723221  14.720797

cctv 데이터 가공필드 와 인구 데이터 가공필드 완성
인구대비 cctv 수의 적정성 확인을 위해
두 변수를 병합해서 분석해야 함.

In [60]:
pop_Seoul.head()

    구별       인구수       한국인      외국인      고령자     외국인비율      고령자비율
1  종로구  162820.0  153589.0   9231.0  25425.0  5.669451  15.615404
2   중구  133240.0  124312.0   8928.0  20764.0  6.700690  15.583909
3  용산구  244203.0  229456.0  14747.0  36231.0  6.038828  14.836427
4  성동구  311244.0  303380.0   7864.0  39997.0  2.526635  12.850689
5  광진구  372164.0  357211.0  14953.0  42214.0  4.017852  11.342849

In [61]:
CCTV_seoul.head()

    구별    소계  2013년도 이전  2014년  2015년  2016년       최근증가율
0  강남구  2780       1292    430    584    932  150.619195
1  강동구   773        379     99    155    377  166.490765
2  강북구   748        369    120    138    204  125.203252
3  강서구   884        388    258    184     81  134.793814
4  관악구  1496        846    260    390    613  149.290780

In [62]:
# CCTV_Seoul과 pop_Seoul 병합 코드
# 공통 컬럼인 '구별' 컬럼으로 조인
# 양쪽 모두 25개의 구로 이루어져 있음
#merge 함수
#pd.merge(조인할 df1, 조인할 df2, on = '공통필드')
data_result = pd.merge(CCTV_seoul, pop_Seoul, on = '구별')

In [63]:
data_result.head()

,구별,소계,2013년도 이전,2014년,2015년,2016년,최근증가율,인구수,한국인,외국인,고령자,외국인비율,고령자비율
0,강남구,2780,1292,430,584,932,150.619195,570500.0,565550.0,4950.0,63167.0,0.867660,11.072217
1,강동구,773,379,99,155,377,166.490765,453233.0,449019.0,4214.0,54622.0,0.929765,12.051638
2,강북구,748,369,120,138,204,125.203252,330192.0,326686.0,3506.0,54813.0,1.061806,16.600342
3,강서구,884,388,258,184,81,134.793814,603772.0,597248.0,6524.0,72548.0,1.080540,12.015794
4,관악구,1496,846,260,390,613,149.290780,525515.0,507203.0,18312.0,68082.0,3.484582,12.955291

In [ ]:
# 사용하지 않을 컬럼을 삭제
# CCTV의 소계와 최근 증가율을 제외한 년도 관련 data는 삭제

In [64]:
# 열 삭제 -del 명령어는 원본 반영됨
del data_result['2013년도 이전']
del data_result['2014년']
del data_result['2015년']
del data_result['2016년']

In [65]:
data_result.head()

,구별,소계,최근증가율,인구수,한국인,외국인,고령자,외국인비율,고령자비율
0,강남구,2780,150.619195,570500.0,565550.0,4950.0,63167.0,0.867660,11.072217
1,강동구,773,166.490765,453233.0,449019.0,4214.0,54622.0,0.929765,12.051638
2,강북구,748,125.203252,330192.0,326686.0,3506.0,54813.0,1.061806,16.600342
3,강서구,884,134.793814,603772.0,597248.0,6524.0,72548.0,1.080540,12.015794
4,관악구,1496,149.290780,525515.0,507203.0,18312.0,68082.0,3.484582,12.955291

In [ ]:
import platform

from matplotlib import font_manager, rc
plt.rcParams['axes.unicode_minus'] = False

if platform.system() == 'Darwin':  # 맥OS 
    rc('font', family='AppleGothic')
elif platform.system() == 'Windows':  # 윈도우
    path = "c:/Windows/Fonts/malgun.ttf"
    font_name = font_manager.FontProperties(fname=path).get_name()
    rc('font', family=font_name)
else:
    print('Unknown system...  sorry~~~')